body {
  width: 600px;
  margin: 100px auto;
  font-family: myriad-pro;
  font-size: 10px;
}

h1 {
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 3.8rem;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

.shake {
  animation: shaking ease-in-out 0.2s;
}

@keyframes shaking {
  0% {
    transform: translate(-5%, 2%);
  }
  20% {
    transform: translate(-7%, 3%);
  }
  40% {
    transform: translate(-2%, 5%);
  }
  60% {
    transform: translate(3%, 1%);
  }
  80% {
    transform: translate(2%, -3%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
